:root {
    --color-primary: #28cd41;
    --color-text-dark: #364d39;
    --color-bg: #e1f5e4;
    --color-text-light: #e1f5e4;
    --color-secondary: #28cd93;
    --primary-gradient: linear-gradient(#6bf27f, #28cd41);
    --secondary-gradient: linear-gradient(#ffffff,#E9F2EB);
    --color-input: #E1F5E4;
    --color-red-pastel: #F5E3E1;
    --color-card-gradient: linear-gradient(#5C7AE8,#294CCC);
    
    --body-text: 1.6rem;
    --shadow:0 .8rem 1.6rem rgba(0, 0, 0, .16);
  }


.card-storage {
    width: 113.9rem;
    height: 50.3rem;
    display: grid;
    grid-template-columns: repeat(4, 26.6rem);
    grid-template-rows:  repeat(auto, 15.1rem);
    grid-gap: 2rem;
}

.room {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow:var(--shadow);

    &__title {
        font-size: 2rem;
        color:var(--color-primary);
        font-weight: bold;
    }
    &__section {
        font-size: 1.4rem;
    }
    &__content {
        font-size: 1.6rem;
        margin-top: 3rem;
    }
}