:root {
    --color-primary: #28cd41;
    --color-text-dark: #364d39;
    --color-bg: #e1f5e4;
    --color-text-light: #e1f5e4;
    --color-secondary: #28cd93;
    --primary-gradient: linear-gradient(#6bf27f, #28cd41);
    --secondary-gradient: linear-gradient(#ffffff,#E9F2EB);
    --color-input: #E1F5E4;
    --color-red-pastel: #F5E3E1;
    --color-card-gradient: linear-gradient(#5C7AE8,#294CCC);
    
    --body-text: 1.6rem;
    --shadow:0 .8rem 1.6rem rgba(0, 0, 0, .16);
  }

.breadcrumbs {
  margin-top: 3rem;
  display: flex;
  align-items: center;

  &__back {
    width: 4.4rem;
    margin-left: -0.9rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  &__identifier {
    margin-top: -1rem;
    font-size: 1.6rem;
  }

  &__active {
    font-weight: bold;
  }
}

