:root {
    --color-primary: #28cd41;
    --color-text-dark: #364d39;
    --color-bg: #e1f5e4;
    --color-text-light: #e1f5e4;
    --color-secondary: #28cd93;
    --primary-gradient: linear-gradient(#6bf27f, #28cd41);
    --secondary-gradient: linear-gradient(#ffffff,#E9F2EB);
    --color-input: #E1F5E4;
    --color-red-pastel: #F5E3E1;
    --color-card-gradient: linear-gradient(#5C7AE8,#294CCC);
    
    --body-text: 1.6rem;
    --shadow:0 .8rem 1.6rem rgba(0, 0, 0, .16);
  }

  .container {
    max-width: 114rem;
    margin: 0 auto;
  }
  
  .das {
    display: flex;
    margin-top: 4.2rem;
    align-items: flex-start;
  }

  .dash-text {
    font-size: 1.6rem;
  }
  .user-text {
    font-weight: bold;
  }

  .table-covid {
    width: 68.3rem;
    height: 6rem;
    box-shadow: var(--shadow);
    border-radius: 1.5rem;
    border-collapse: collapse;
    overflow: hidden;
  }
  
  .table-covid tbody tr td:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
  }
  .covid-report {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  .card-table {
  display: flex;
  
  }
  .card-details {
    width: 42.4rem;
    height: 37.5rem;
    margin-left: 3rem;
    border-radius: 2rem;
    background-color: #fff;
    padding: 2rem;
    position: relative;
    margin-top: 2rem;
    box-shadow: $shadow;
  }
  
  .full-details {
    font-size: 2.8rem;
    font-weight: bold;
  }
  .btn-notify {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1.5rem 2rem ;
    background-color: var(--color-red-pastel);
    color: #CC3429;
    font-weight: bold;
    border-radius: 1rem;
  }
  .covid-name {
    font-size: 1.2rem;
  }
  .confirm {
    margin-top: .5rem;
    color: #CD3328;
  }
  .room-visited {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 3rem;
  }
  .card-room {
    width: 38.4rem;
    height: 18.6rem;
    overflow-y: auto;
    overflow-x: hidden;
  
  
  }
  .card-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 2rem;
  }
  .card-one {
    width: 100%;
    height: 9.5rem;
    background-image:var(--color-card-gradient) ;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
  }
  .wan {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
  }
  .date {
    color: #3DDBE5;
    font-size: .8rem;
    font-weight: bold;
  }
  .oras {
    font-size: .8rem;
    color: #3DDBE5;
    margin-top: 2.1rem;
    font-weight: bold;
  }
  .dos {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
  }
  
  .container--report {
    padding: 0 0 4rem 0;
  }
  .con {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 0;
    bottom: -.5rem;
    
  }
  .table-user tbody tr td:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
  }

