:root {
    --color-primary: #28cd41;
    --color-text-dark: #364d39;
    --color-bg: #e1f5e4;
    --color-text-light: #e1f5e4;
    --color-secondary: #28cd93;
    --primary-gradient: linear-gradient(#6bf27f, #28cd41);
    --secondary-gradient: linear-gradient(#ffffff,#E9F2EB);
    --color-input: #E1F5E4;
    --color-red-pastel: #F5E3E1;
    --color-card-gradient: linear-gradient(#5C7AE8,#294CCC);
    
    --body-text: 1.6rem;
    --shadow:0 .8rem 1.6rem rgba(0, 0, 0, .16);
  }

  .container {
    max-width: 114rem;
    margin: 0 auto;
  }

  .covid-local {
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  .dash {
    display: flex;
    margin-top: 4.2rem;
  }
  
  .back-icon {
    width: 4.4rem;
    height: 4.4rem;
    margin-right: 3rem;
    margin-left: -.9rem;
    cursor: pointer;
   
  }
  .dash-text {
    font-size: 1.6rem;
  }
  .user-text {
    font-weight: bold;
    font-size: 1.6rem;
  }

  .card-container {
    max-width: 114rem;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 17.3rem);
    grid-gap: 2rem;  */
    grid-template-areas: 
      "card-1 card-2 analytics"
      "card-3 card-4 analytics"
    ;
    grid-gap: 2rem;
    grid-template-rows: repeat(2, 17.3rem);
    grid-template-columns: repeat(3, 1fr);
  }
  .cards {
    height: 17.3rem;
    padding: 3rem;
    background-image: var(--primary-gradient);
    box-shadow: var(--shadow);
    border-radius: 2rem;
    color: var(--color-bg);
  }
  
  .card-1 {
    grid-area: card-1;
    cursor: pointer;
  }
  
  .card-2 {
    grid-area: card-2;
  }
  
  .card-3 {
    grid-area: card-3;
  }
  
  .card-4 {
    grid-area: card-4;
  }
  
  .analytics {
    grid-area: analytics;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 1.8rem;
  
  }
  
  .covid-update {
    width: 16rem;
    font-size: 2.2rem;
    font-weight: bold;
  }
  
  .covid-details {
    margin-top: 2.8rem
  }
  .recovered {
    font-size: 1.6rem;
    color: var(--color-text-dark);
  }
  .datos {
    font-size: 2.2rem;
    font-weight: bold;
    color:var(--color-primary);
  }
  .today-recovered {
    font-size: 1.6rem;
    color: var(--color-text-dark);
  
  }